{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
		{% block navbarheader %}
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1	">
				<span class="sr-only">Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{% block navbarbrand %}
			<a class="navbar-brand" href="#">MARQUE</a>
			{% endblock navbarbrand %}
		</div>
		{% endblock navbarheader %}
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			{% block navbarcontenu %}
			<ul class="nav navbar-nav">
				{% block navbarmenu %}
				<!-- MENU PRINCIPAL NAVBAR -->
				{% endblock navbarmenu %}
			</ul>
			{% endblock navbarcontenu %}
			{% block navbarloginaccount %}
			<!-- MENU LOGIN NAVBAR -->
			{% endblock navbarloginaccount %}
		</div><!-- /.navbar-collapse -->
	</div>
</nav>
{% endblock navbar %}