{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
		{% block navbar-header %}
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1	">
				<span class="sr-only">Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url('ensemble01filemaker_homepage') }}">{% block navbar-brand %}MARQUE{% endblock navbar-brand %}</a>
		</div>
		{% endblock navbar-header %}
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			{% block navbar-contenu %}
			<ul class="nav navbar-nav">
				{% block navbar-accueil %}
				<li>
					<a href="{{ url('ensemble01site_homepage') }}">Accueil</a>
				</li>
				{% endblock navbar-accueil %}
				{% block navbar-menu %}
				<!-- MENU PRINCIPAL NAVBAR -->
				{% endblock navbar-menu %}
			</ul>
			{% endblock navbar-contenu %}
			{% block navbar-login-account %}
			<!-- MENU LOGIN NAVBAR -->
			{% endblock navbar-login-account %}
		</div><!-- /.navbar-collapse -->
	</div>
</nav>
{% endblock navbar %}